form {

    margin-right: 10px;
    margin-left: 10px;
}


body, label, .checkbox label {
    font-weight: 300;
}

.select2-container {

    width: 100% !important;
}

.add-article-btn {
    position: fixed;
    border-radius: 50%;
    z-index: 2000;
    right: 3%;
    top: 90%;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
  }